<div class="modal fade" id="modal-signin" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="cs-view" id="modal-signin-view">
                <div class="modal-header border-0 bg-dark px-4">
                    <h4 class="modal-title text-light">Contact Me</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body px-4">
                    <p class="font-size-ms text-muted">I am available for hire and open to any ideas of cooperation.</p>

                </div>
            </div>
            <div class="cs-view show" id="modal-signup-view">
                <div class="modal-header border-0 bg-dark px-4">
                    <h4 class="modal-title text-light">Contacts</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body px-4">
                    <p class="font-size-ms text-muted">I am available for hire and open to any ideas of cooperation.</p>
                </div>

            </div>
            <div class="modal-body text-center px-4 pt-2 pb-4">
                <hr>
                <p class="font-size-sm font-weight-medium text-heading pt-4">contacts</p>
                <a class="social-btn sb-twitter sb-lg mx-1 mb-2" target="_blank" href="https://twitter.com/kwairore"><i
                        class="fe-twitter"></i>
                </a>
                <a class="social-btn sb-instagram sb-lg mx-1 mb-2" href="https://instagram.com/kwairore"
                    target="_blank"><i class="fe-instagram"></i>
                </a>
                <a class="social-btn sb-linkedin sb-lg mx-1 mb-2" target="_blank"
                    href="https://www.linkedin.com/in/lucas-wairore/"><i class="fe-linkedin"></i>
                </a>
                <a class="social-btn sb-github sb-lg mx-1 mb-2" target="_blank" href="https://github.com/lwairore"><i
                        class="fe-github"></i>
                </a>
                <a class="social-btn sb-mail sb-lg mx-1 mb-2" href="mailto:kwairore@gmail.com"><i
                        class="fe-mail"></i></a>
                <a target="_blank" href="tel:+254745520876" class="social-btn sb-phone sb-lg mx-1 mb-2"><i
                        class="fe-phone"></i></a>
            </div>
        </div>
    </div>
</div>