<lwkp-project-title [projectDetails]="{
                                        'heading': projectDetails?.heading,
                                        'tags': projectDetails?.tags,
                                        'liveLink': projectDetails?.liveLink,
                                        'createdAt': projectDetails?.createdAt
                                    }"></lwkp-project-title>
<div class="container">
    <!-- Project gallery (carousel)-->
    <lwkp-project-gallery *ngIf="projectDetails?.projectGallery" [propertyGallery]="projectDetails?.projectGallery"></lwkp-project-gallery>
    <!-- Project description -->
    <lwkp-project-description [projectDescription]="{
        'name': projectDetails?.heading,
        'githubRepo': projectDetails?.githubRepo,
        'dockerhubRepo': projectDetails?.dockerhubRepo,
        'liveLink': projectDetails?.liveLink,
        'objective': projectDetails?.objective,
        'tags': projectDetails?.tags,
        'collaborators': projectDetails?.collaborators,
        'description': projectDetails?.description,
        'userStories': projectDetails?.userStories
    }"></lwkp-project-description>
</div>