<lwkp-project-title [projectDetails]="{
                                        'heading': projectDetails?.heading,
                                        'tags': projectDetails?.tags,
                                        'liveLink': projectDetails?.liveLink,
                                        'createdAt': projectDetails?.createdAt
                                    }"></lwkp-project-title>
<div class="container">
    <!-- Project gallery (carousel)-->
    <lwkp-project-gallery [propertyGallery]="projectDetails?.projectGallery"></lwkp-project-gallery>
</div>